table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    border: 2px solid #007bff; /* Blue border around the entire table */
}

th,
td {
    border: 2px solid #007bff; /* Border around each cell */
    padding: 15px; /* Adjust padding as needed */
    text-align: center;
    background-color: white; /* Set the background color to white */
    width: 20%;
}

th {
    border: 3px solid #007bff; /* Border around header cells */
    color: white;
    background-color: #343a40;
}

.container-scroller {
    margin-top: 60px;
    margin-right: -150px;
}

.add-chef-container {
    margin: 0px;
}

.add-chef-title {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
    text-align: left;
    font-weight: bold;
}

.chef-form {
    max-width: 600px;
    margin-right: -200px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
    color: white;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="file"] {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    box-sizing: border-box;
}

.form-group input[type="submit"] {
    color: #fff;
    background-color: #007bff;
    border: 0.5px solid #007bff; /* Blue border */
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-group input[type="submit"]:hover {
    background-color: #0056b3;
}


